*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    
}

:root{
    --corBgPadrao: rgba(64, 67, 201);
    --corBgPadrao2:rgb(79, 81, 255);
    --corBgPadraoClaro: rgb(1, 255, 255);
    --corbgEscuroClaro: rgb(53, 56, 223);
    --corbgEscuro: rgb(44, 46, 158);
    --corSegundariaBg: rgba(253, 255, 255);
    --corTerciaruaBg: rgb(230, 245, 255);

}

body{
        background-color: var(--corBgPadrao);
    }

@media (max-width: 1024px) {
    main{
        margin:  0 auto;
        width: 100%;
        max-width: 700px;
        display: flex;
        flex-direction: column;
    }

        #titulo-lista{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 130px;
        position: relative;
        
    }

    #titulo-lista h2{
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
        color: var(--corSegundariaBg);
        font-size: 50px;
    }

    #box-nav{
        display: flex;
        flex-direction: column;
        gap: 10px;
        min-width: 280px;
        max-width: 800px;
        height: 200px;
    }

    #div-button-nav{
        width: 100%;
        height: 60px;
        border-radius: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    #div-button-nav button{
        height: 100%;
        width: 28%;
        font-size: 16px;
        border-radius: 6px 6px 0px 0px;
        background-color: var(--corbgEscuro);
        border: none;
        color: var(--corSegundariaBg);
    }

    #div-button-nav button a{
        color: var(--corSegundariaBg);
    }

    #btn-comprar{
        background-color: var(--corSegundariaBg) !important;
    }

    #btn-comprar a:visited{
        color: var(--corBgPadrao) !important;
    }

    #form-compra{
        display: flex;
        flex-direction: column;
        gap: 16px;
        background-color: var(--corSegundariaBg);
        border-radius: 16px;
    }
    #div-total-compra{
        display: flex;
        height: 60px;
        justify-content: space-between;
        font-size: 14px;
        box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.11);
    }

    #container-tot-compra{
        font-size: 14px;
        margin: 0 auto;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #lista-comprar{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    #item-compra{
        height: 240px;
        width: 92%;
        border:  1px solid var(--corBgPadrao);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
    }

    .container-item-compra{
        width: 88%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .div-info-produto p, span{
        color: var(--corBgPadrao);
        font-weight: bold;
    }

    .container-input-compra input{
        min-height: 40px;
        height: 30px;
        margin-bottom: 8px;
        border: none;
        border-radius: 6px;
        background-color: var(--corSegundariaBg);
        border: 3px solid rgba(0, 0, 0, 0.096);
        padding-left: 12px;
        font-size: 16px;
    }

    .div-style-input-compra{
        display: flex;
        flex-direction: column;
    }

    .div-style-input-compra label{
        color: rgba(0, 0, 0, 0.658);
    }
    

    .div-info-produto{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding-bottom: 10px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.13);
    }

    #button-sbumit{
        height: 36px;
        width: 92%;
        margin: 0 auto;
        border-radius: 6px;
        border: none;
        margin-bottom: 20px;
        background-color: rgb(1, 221, 100);
        box-shadow: 3px 4px 0px rgb(0, 182, 82);
        color: white;
        font-weight: bolder;
        font-size: 16px;
    }
}

@media (min-width: 1025px){
    main{
        margin:  0 auto;
        width: 800px;
        height: 100dvh;
        display: flex;
        flex-direction: column;
    }
    #box-nav{
        display: flex;
        flex-direction: column;
        min-width: 280px;
        max-width: 800px;
        height: 200px;
    }

    #titulo-lista{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 130px;
        position: relative;
        
    }

    #titulo-lista h2{
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
        color: var(--corSegundariaBg);
        font-size: 50px;
    }

    #form-compra{
        display: flex;
        flex-direction: column;
        gap: 30px;
        background-color: var(--corSegundariaBg);
        border-radius: 26px;
    }

    #div-total-compra{
        display: flex;
        height: 60px;
        justify-content: space-between;
        font-size: 14px;
        box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.11);
    }

    #container-tot-compra{
        margin: 0 auto;
        width: 72%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #container-tot-compra h3{
        font-size: 22px;
    }

    #div-button-nav{
        width: 100%;
        height: 70px;
        border-radius: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    #div-button-nav button{
        height: 100%;
        width: 28%;
        font-size: 18px;
        border-radius: 6px 6px 0px 0px;
        background-color: var(--corbgEscuro);
        border: none;
        color: var(--corSegundariaBg);
    }

    #div-button-nav button a{
        color: var(--corSegundariaBg);
    }

    #btn-comprar{
        background-color: var(--corSegundariaBg) !important;
    }

    #btn-comprar a:visited{
        color: var(--corBgPadrao) !important;
    }

    #lista-comprar{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    #item-compra{
        width: 80%;
        padding: 20px 0px 20px 0px;
        margin: auto;
        border: 1px solid var(--corBgPadrao);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
    }

    .div-info-produto{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid rgba(0, 0, 0, 0.13);
        padding-bottom: 10px;
    }

    .div-info-produto h3{
        font-size: 22px;
    }

    .div-info-produto p, span{
        color: rgb(64, 136, 230);
        font-weight: bold;
    }


    .container-item-compra{
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .container-input-compra input{
        min-height: 40px;
        height: 30px;
        margin-bottom: 8px;
        border: 2px solid rgba(0, 0, 0, 0.13);
        border-radius: 6px;
        padding-left: 12px;
        font-size: 16px;
    }

    .contaiter-style-input-compra{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .contaiter-style-input-compra input:focus{
        outline: 2px solid var(--corBgPadrao);
    }   

    .div-style-input-compra{
        width: 40%;
        display: flex;
        flex-direction: column;
        color: rgba(0, 0, 0, 0.658);
    }
    
    #button-sbumit{
        margin: 0 auto;
        width: 80%;
        height: 46px;
        border-radius: 6px;
        border: none;
        margin-bottom: 36px;
        background-color: rgb(1, 221, 100);
        box-shadow: 3px 4px 0px rgb(0, 182, 82);
        color: white;
        font-weight: bolder;
        font-size: 16px;
    }
}