    *{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: rgb(0, 0, 0);
} 

:root{
    --corBgPadrao: rgba(64, 67, 201);
    --corBgPadrao2:rgb(79, 81, 255);
    --corBgPadraoClaro: rgb(77, 80, 253);
    --corbgEscuroClaro: rgb(53, 56, 223);
    --corbgEscuro: rgb(44, 46, 158);
    --corSegundariaBg: rgba(253, 255, 255);
    --corTerciaruaBg: rgb(230, 245, 255);
    --corBtnApagar:rgba(211, 27, 27, 0.89);
    --corStatusPendente: rgba(255, 59, 59, 0.89);
    --corStatusConcluido: ;
}

    
    body{
        background-color: var(--corBgPadrao);
    }

    main{
        margin:  0 auto;
        width: 82%;
        max-width: 800px;
        height: 100dvh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #box-nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    #titulo-lista{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 130px;
        position: relative;
    }

    #titulo-lista h2{
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
        color: var(--corSegundariaBg);
        font-size: 50px;
    }

    #formulario-produto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 280px;
        min-height: 280px;
        width: 100%;
        background-color: var(--corSegundariaBg);
        border-radius: 26px 26px 0px 0px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.171);
    }

    #div-button-nav{
        width: 100%;
        height: 70px;
        border-radius: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    #div-button-nav button{
        height: 100%;
        width: 28%;
        font-size: 18px;
        border-radius: 6px 6px 0px 0px;
        background-color: var(--corbgEscuro);
        border: none;
        color: var(--corSegundariaBg);
    }

    #div-button-nav button a{
        color: var(--corSegundariaBg);
    }

    #btn-historico{
        background-color: var(--corSegundariaBg) !important;
    }
    #btn-historico a:visited{
        color: var(--corBgPadrao);
    }

    #div-titulo{
        width: 83%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    #contaier-info-compra{
        background-color: var(--corSegundariaBg);
        width: 100%;
        max-width: 800px;
        border-radius: 26px;
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #div-titulo{
        width: 80%;
        height: 80px;
    }

    .div-info-compras{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        border: 1px solid var(--corBgPadrao);
        border-radius: 10px;
        width: 80%;
        min-height: 40px;
        padding: 30px 0px 30px 0px;
    }

    .info-historico-compra{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
    }

    .div-info-tot-compra{
        display: flex;
    }

    .tot-compra-icon{
        display: flex;
    }

    .info-itens-comprados{
        width: 90%;
        
        /* display: none; */
    }

    .div-info-produtos{
        display: flex;
        justify-content: space-around;
        padding: 20px 0px 20px 0px;
        width: 100%;
        border: 1px solid var(--corBgPadrao);
        border-radius: 10px;
    }