*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#box-nav{
    width: 80%;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#box-nav div h2{
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: bolder
}

#div-button-nav{
    width: 800px;
    height: 45px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(53, 53, 53, 0.062);
    border: 1px solid rgba(0, 0, 0, 0.034);
    border-radius: 6px;
    
}

#div-button-nav button{
    height: 80%;
    width: 250px;
    border-radius: 10px;
    border: none;
    background-color: white;
}

#formulario-produto{
    width: 800px;
    height: 170px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.171);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#formulario-produto h2{
    margin-left: 15px;
    align-self: flex-start;
    font-size: 20px;
}

.prod-cad{
    display: flex;
    
    justify-content: space-around;
    width: 100%;
    height: 60px;
}

.div-prod-cad{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 46%;
    height: 200px;
}

.div-prod-cad label{
    font-size: 20px;
    font-size: 15px;
    height: 20px;
    align-self: flex-start;
    font-weight: bolder;
}

.div-prod-cad input{
    height: 36px;
    width: 100%;
    border:none;
    border-radius: 6px;
    background-color: rgba(121, 121, 121, 0.11);
    border: 1px solid rgba(78, 78, 78, 0.103);
}

#div-btn-cad{
    height: 60px;
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn-cadastrar{
    width: 96%;
    height: 40px;
    border: none;
    border-radius: 6px;
    background-color: rgb(32, 211, 107);
    font-size: 20px;
    color: rgb(255, 255, 255);
}

#lista-de-produtos {
    width: 800px;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

#lista-de-produtos div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    min-height: 200px;
    width: 100%;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.171);
    border-radius: 10px;
    margin-top: 20px;
}

#lista-de-produtos div button{
    width: 96%;
    height: 30px;
    margin-top: 12px;
    border-radius: 6px;
    border: 1px solid rgba(104, 104, 104, 0.103);
    
}
