*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: rgb(0, 0, 0);
} 

:root{
    --corBgPadrao: rgba(64, 67, 201);
    --corBgPadrao2:rgb(79, 81, 255);
    --corBgPadraoClaro: rgb(77, 80, 253);
    --corbgEscuroClaro: rgb(53, 56, 223);
    --corbgEscuro: rgb(44, 46, 158);
    --corSegundariaBg: rgba(253, 255, 255);
    --corTerciaruaBg: rgb(230, 245, 255);
    --corBtnApagar:rgba(211, 27, 27, 0.89);--corStatusPendente: rgba(255, 59, 59, 0.89);
    --corStatusParcial: ;
    --corStatusConcluido: ;
}


body{
    background-color:var(--corBgPadrao);
    
}

@media (max-width: 1024px) {
    main{
        margin:  0 auto;
        width: 100%;
        max-width: 700px;
        display: flex;
        flex-direction: column;
    }

    #box-nav{
        display: flex;
        flex-direction: column;
        gap: 10px;
        min-width: 280px;
        max-width: 800px;
        height: 200px;
    }

    #titulo-lista{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 130px;

    }

    #titulo-lista h2{
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
        color: var(--corSegundariaBg);
        font-size: 50px;
    }

    #div-button-nav{
        width: 100%;
        height: 60px;
        border-radius: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    #div-button-nav button{
        height: 100%;
        width: 28%;
        font-size: 16px;
        border-radius: 6px 6px 0px 0px;
        background-color: var(--corbgEscuro);
        border: none;
        color: var(--corSegundariaBg);
    }

    #div-button-nav button a{
        color: var(--corSegundariaBg);
    }

    #btn-nav-cadastrar{
        background-color: var(--corSegundariaBg) !important;
    }
    #btn-nav-cadastrar a:visited{
        color: var(--corBgPadrao)
    }

    #formulario-produto{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 280px;
        padding: 10px 0px 10px 0px;
        min-height: 180px;
        width: 100%;
        background-color: var(--corSegundariaBg);
        border-radius: 16px 16px 0px 0px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.171);
    }

    #div-titulo{
        width: 74%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    #div-titulo h2{
        font-size: 20px;
    }

    #prod-cad{
        width: 83%;
        height: 200px;
        border: 1px solid var(--corBgPadrao);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .div-prod-cad{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        min-width: 124px;
        width: 88%;
    }

    .div-prod-cad label {
        color: rgba(0, 0, 0, 0.658);
    }

    .div-prod-cad input{
        width: 94%;
        min-height: 40px;
        border-radius: 6px;
        border: 3px solid rgba(0, 0, 0, 0.096) !important;
        background-color: var(--corSegundariaBg);
        padding-left: 10px;
        font-size: 16px;
    }

    #nome-produto{
        margin-bottom: 10px;
    }

    #div-btn-cad{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 60px;
        width: 84%;
    }

    #div-btn-cad button{
        margin-top: 10px;
        width: 100%;
        height: 3rem;
        max-height: 40px;
        text-decoration: none;
        color: white;
        border: none;
        background-color: var(--corBgPadrao);
        font-size: 16px;
        font-weight: bolder;
        border-radius: 6px;
    }

    #lista-de-produtos{
        min-height: 160px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 0px 0px 0px;
        border-radius: 0px 0px 16px 16px;
        gap: 20px;
        background-color: var(--corSegundariaBg);
        
    }

    #lista-de-produtos:last-child{
        padding-bottom: 30px;
    }

    #item-lista{
        width: 88%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-info-produto{
        width: 94%;
        min-height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;;
        border:  1px solid var(--corBgPadrao);
        border-radius: 10px;
    }

    .container-produtos{
        width: 88% !important;
        display: flex;
        justify-content: space-between;
        align-items: center !important;
    }

    .div-info-produto{
        width: 50% !important;
        min-width: 200px;
        display: flex;
        flex-direction: column;
        align-items: flex-start ;
        justify-content: center;
        gap: 2px;
    }

    .div-info-produto p:first-child{
        font-size: 22px;
    }

    .div-info-produto p:last-child{
        margin-top: 18px;
    }

    .nome-produto{
        font-weight: bolder;
    }

    .qtd-nes-produto,.qtd-comprada-produto{
        color: rgba(0, 0, 0, 0.5);
    }

    .status-produto{
        background-color: var(--corStatusPendente);
        color: white;
        padding: 4px;
        border-radius: 6px;
    }

    .div-btn-produto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;

        gap: 20px;
        width: 80px !important;
        height: 120px !important;
    }

    .div-btn-produto button{
        width: 70px ;
        height: 40px ;
        border: 1px solid rgba(0, 0, 0, 0.185);
        border-radius: 6px;
        
    }

    .div-btn-produto button:first-child{
        background-color: var(--corBgPadrao);
        color: white;
    }

    .div-btn-produto button:last-child{
        background-color: var(--corBtnApagar);
        color: white;
    }

    .status-comprado{
        background-color: greenyellow;
    }

}

@media (min-width: 1025px) {
    body{
        background-color: rgb(64, 67, 201);
    }

    main{
        margin:  0 auto;
        width: 82%;
        max-width: 800px;
        height: 100dvh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #box-nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    #titulo-lista{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 130px;
        position: relative;
    }

    #titulo-lista h2{
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
        color: var(--corSegundariaBg);
        font-size: 50px;
    }

    #formulario-produto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 280px;
        min-height: 280px;
        width: 100%;
        background-color: var(--corSegundariaBg);
        border-radius: 26px 26px 0px 0px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.171);
    }

    #div-button-nav{
        width: 100%;
        height: 70px;
        border-radius: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    #div-button-nav button{
        height: 100%;
        width: 28%;
        font-size: 18px;
        border-radius: 6px 6px 0px 0px;
        background-color: var(--corbgEscuro);
        border: none;
        color: var(--corSegundariaBg);
    }

    #div-button-nav button a{
        color: var(--corSegundariaBg);
    }

    #btn-nav-cadastrar{
        background-color: var(--corSegundariaBg) !important;
    }
    #btn-nav-cadastrar a:visited{
        color: var(--corBgPadrao);
    }

    #div-titulo{
        width: 83%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    #prod-cad{
        height:110px;
        width: 88%;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid var(--corBgPadrao);
    }

    .div-prod-cad{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        height: 90%;
        min-width: 124px;
        width: 46%;
    }

    .div-prod-cad label{
        margin-left: 20px;
        margin-bottom: 10px;
        color: rgba(0, 0, 0, 0.658);
    }

    .div-prod-cad input{
        margin: 0px 0px 10px 20px;
        width: 84%;
        min-height: 40px;
        border-radius: 6px;
        border: 1px solid rgba(0, 0, 0, 0.096);
        background-color: var(--corSegundariaBg);
        padding-left: 10px;
        font-size: 16px;
    }

    .div-prod-cad input:focus{
        outline: 2px solid var(--corBgPadrao);
    }

    #div-titulo h2{
        font-size: 20px;
    }

    #div-btn-cad{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
        min-height: 50px;
        width: 91%;
    }

    #div-btn-cad button{
        width: 97%;
        height: 50px;
        max-height: 50px;
        text-decoration: none;
        color: white;
        border: none;
        background-color: var(--corBgPadrao) !important;
        font-size: 16px;
        font-weight: bolder;
        border-radius: 6px;
        transition: 0.5s;
    }

    #div-btn-cad button:hover{
        background-color: var(--corBgPadraoClaro)!important;
        cursor: pointer;
    }

    #lista-de-produtos{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 0px 0px 26px 26px;
        background-color: var(--corSegundariaBg);
    }

    #item-lista{
        margin-top: 40px;
        border-radius: 10px;
        width: 88%;
        min-height: 160px;
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.199);
    }

    #item-lista:last-child{
        margin-bottom: 40px;
    }

    .main-info-produto{
        width: 100%;
        min-height: 160px;
        display: flex;
        justify-content: center;
        align-items: center;;
        border: 1px solid var(--corBgPadrao);
        border-radius: 10px;
    }

    .container-produtos{
        width: 88% !important;
        display: flex;
        justify-content: space-between;
        align-items: center !important;
    }

    .div-info-produto{
        width: 50% !important;
        min-width: 200px;
        display: flex;
        flex-direction: column;
        align-items: flex-start ;
        justify-content: center;
        gap: 2px;
    }

    .div-info-produto p:first-child{
        border-radius: 6px;
        font-size: 25px;
    }

    .div-info-produto p:last-child{
        margin-top: 12px;
    }

    .nome-produto{
        font-weight: bolder;
    }

    .qtd-nes-produto,.qtd-comprada-produto{
        color: rgba(0, 0, 0, 0.5);
    }

    .status-pendente{
        background-color: rgba(255, 59, 59, 0.89);
        color: white;
        padding: 6px;
        border-radius: 6px;
    }

    .status-comprado{
        background-color: rgb(1, 221, 100);
        color: rgb(255, 255, 255);
        padding: 6px;
        border-radius: 6px;
    }

    .div-btn-produto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;

        gap: 20px;
        width: 80px !important;
        height: 120px !important;
    }

    .div-btn-produto button{
        width: 70px ;
        height: 40px ;
        border: 1px solid rgba(255, 0, 0, 0.185);
        border-radius: 6px;
        
    }

    .div-btn-produto button:first-child{
        background-color: var(--corBgPadrao);
        color: white;
        transition: 0.5s;
        border: none;
    }

    .div-btn-produto button:first-child:hover{
        background-color: var(--corBgPadraoClaro);
        box-shadow: inset 0px 0px 20px rgba(255, 247, 247, 0.582);
        cursor: pointer;
    }

    .div-btn-produto button:last-child{
        transition: 0.5s;
        background-color: rgba(143, 18, 18, 0.89);
        color: white;
        border: none;
    }

    .div-btn-produto button:last-child:hover{
        box-shadow: inset 0px 0px 20px rgba(255, 247, 247, 0.89);
        background-color: rgb(255, 0, 0);
        cursor: pointer;
    }

    

}
