*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: rgb(0, 0, 0);
} 

:root{
    --corBgPadrao: rgba(64, 67, 201);
    --corBgPadrao2:rgb(79, 81, 255);
    --corBgPadraoClaro: rgb(1, 255, 255);
    --corbgEscuroClaro: rgb(53, 56, 223);
    --corbgEscuro: rgb(44, 46, 158);
    --corSegundariaBg: rgba(253, 255, 255);
    --corTerciaruaBg: rgba(240, 244, 247);
}


body{
    background-color:var(--corBgPadrao);
}

@media (max-width: 1024px) {
    main{
        margin:  0 auto;
        width: 82%;
        gap: 16px;
        display: flex;
        flex-direction: column;
    }

    #box-nav{
        display: flex;
        flex-direction: column;
        gap: 10px;
        min-width: 280px;
        max-width: 800px;
        height: 110px;
    }

    #titulo-lista{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        
    }

    #div-button-nav{
        background-color: rgb(51, 51, 51);
        width: 82vw;
        height: 70px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 6px;
        
    }

    #div-button-nav button{
        height: 70%;
        width: 28%;
        font-size: 18px;
        border-radius: 6px;
        background-color: rgba(206, 206, 206, 0.548);
        border: none;
    }


    #btn-nav-cadastrar{
        background-image: linear-gradient(to right,rgb(40, 151, 255) 10%,rgb(13, 110, 201) 40% 60% , rgb(40, 151, 255) 90%)
    }
    #btn-nav-cadastrar a:visited{
        color: white;
    }


    #formulario-produto{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 260px;
        min-height: 180px;
        width: 82vw;
        background-color: var(--corSegundariaBg);
        border-radius: 10px;
        box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.445);
    }

    #div-titulo{
        width: 88%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    #div-titulo h2{
        font-size: 20px;
    }

    #prod-cad{
        width: 88%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .div-prod-cad{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        min-width: 124px;
        width: 100%;
        
    }

    .div-prod-cad input{
        width: 97%;
        min-height: 40px;
        border-radius: 6px;
        border: 1px solid rgba(0, 0, 0, 0.096);
        background-color: var(--corSegundariaBg);
        padding-left: 10px;
        font-size: 16px;
    }

    #nome-produto{
        margin-bottom: 10px;
    }

    #div-btn-cad{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 60px;
        width: 91%;
    }

    #div-btn-cad button{
        width: 97%;
        height: 3rem;
        max-height: 40px;
        text-decoration: none;
        color: white;
        border: none;
        background-image: linear-gradient(to right,rgb(40, 151, 255) 10%,rgb(11, 103, 189) 50%, rgb(40, 151, 255) 90%
        );
        box-shadow: 3px 4px 0px rgb(24, 106, 184);
        font-size: 16px;
        font-weight: bolder;
        border-radius: 6px;
    }

    #lista-de-produtos{
        min-height: 200px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 60px;
    }
    
    #lista-de-produtos div{
        height: 110px;
    }

    .main-info-produto{
        width: 82vw;
        min-height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;;
        background-color: var(--corSegundariaBg);
        box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.445);
        border-radius: 10px;
    }

    .container-produtos{
        width: 88% !important;
        display: flex;
        justify-content: space-between;
        align-items: center !important;
    }

    .div-info-produto{
        width: 50% !important;
        min-width: 200px;
        display: flex;
        flex-direction: column;
        align-items: flex-start ;
        justify-content: center;
        
        gap: 2px;
    }

    .div-info-produto p:last-child{
        margin-top: 18px;
    }

    .nome-produto{
        font-weight: bolder;
    }

    .qtd-nes-produto,.qtd-comprada-produto{
        color: rgba(0, 0, 0, 0.5);
    }

    .status-produto{
        background-color: rgba(255, 59, 59, 0.89);
        color: white;
        padding: 4px;
        border-radius: 6px;
    }

    .div-btn-produto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;

        gap: 20px;
        width: 80px !important;
        height: 120px !important;
    }

    .div-btn-produto button{
        width: 70px ;
        height: 40px ;
        border: 1px solid rgba(0, 0, 0, 0.185);
        border-radius: 6px;
        
    }

    .div-btn-produto button:first-child{
        background-image: linear-gradient(to right,rgb(40, 151, 255) 10%,rgb(13, 110, 201) 40% 60% , rgb(40, 151, 255) 90%
        );
        box-shadow: 2px 2px 0px rgb(24, 106, 184);
        color: white;
    }

    .div-btn-produto button:last-child{
        border: 1px solid rgba(0, 0, 0, 0.205);
        background-image: linear-gradient(to right,rgba(255, 59, 59, 0.89) 10%,rgba(211, 27, 27, 0.89) 40% 60% , rgba(255, 59, 59, 0.89) 90%
        );
        box-shadow: 2px 2px 0px rgba(197, 42, 42, 0.89);
        color: white;
    }

}

@media (min-width: 1025px) {
    body{
        background-color: rgb(64, 67, 201);
    }

    main{
        margin:  0 auto;
        width: 82%;
        max-width: 800px;
        height: 100dvh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #box-nav{
        display: flex;
        justify-content: center;
        width: 100%;
        
    }

    #titulo-lista{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 130px;
        position: relative;
        
    }

    #titulo-lista h2{
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
        color: var(--corSegundariaBg);
        font-size: 50px;
    }

    #formulario-produto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 360px;
        min-height: 360px;
        width: 100%;
        background-color: var(--corSegundariaBg);
        border-radius: 26px 26px 0px 0px;
        box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.445);
        border-bottom: 1px solid rgba(0, 0, 0, 0.171);
    }

    #div-button-nav{
        background-color: var(--corTerciaruaBg);
        width: 88%;
        height: 70px;
        border-radius: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    #div-button-nav button{
        height: 70%;
        width: 28%;
        font-size: 18px;
        border-radius: 6px;
        background-color: rgba(206, 206, 206, 0.548);
        border: none;
    }

    #div-titulo{
        width: 88%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    #prod-cad{
        height:80px;
        width: 88%;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--corTerciaruaBg);
    }

    .div-prod-cad{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 90%;
        min-width: 124px;
        width: 46%;
    }

    .div-prod-cad label{
        margin-left: 20px;
    }

    .div-prod-cad input{
        margin-left: 20px;
        width: 84%;
        min-height: 40px;
        border-radius: 6px;
        border: 1px solid rgba(0, 0, 0, 0.096);
        background-color: var(--corSegundariaBg);
        padding-left: 10px;
        font-size: 16px;
    }

    .div-prod-cad input:focus{
        outline: 2px solid var(--corBgPadrao);
    }

    #btn-nav-cadastrar{
        box-shadow: inset 0px 0px 20px var(--corBgPadraoClaro);
        background-color: var(--corBgPadrao) !important;
    }
    #btn-nav-cadastrar a:visited{
        color: white;
    }

    #div-titulo h2{
        font-size: 20px;
    }

    #nome-produto{
        margin-bottom: 10px;
    }

    #div-btn-cad{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        min-height: 50px;
        width: 91%;
    }

    #div-btn-cad button{
        width: 97%;
        height: 50px;
        max-height: 50px;
        text-decoration: none;
        color: white;
        border: none;
        background-color: var(--corBgPadrao) !important;
        font-size: 16px;
        font-weight: bolder;
        border-radius: 6px;
        transition: 0.5s;
    }

    #div-btn-cad button:hover{
        box-shadow: inset 0px 0px 20px var(--corBgPadraoClaro);
        cursor: pointer;
    }

    #lista-de-produtos{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--corSegundariaBg);
        
    }

    #item-lista{
        margin-top: 40px;
        width: 88%;
        min-height: 160px;
    }

    #item-lista:last-child{
        margin-bottom: 40px;
    }

    .main-info-produto{
        width: 100%;
        min-height: 160px;
        display: flex;
        justify-content: center;
        align-items: center;;
        background-color: var(--corTerciaruaBg);
        border-radius: 10px;
    }

    .container-produtos{
        width: 88% !important;
        display: flex;
        justify-content: space-between;
        align-items: center !important;
    }

    .div-info-produto{
        width: 50% !important;
        min-width: 200px;
        display: flex;
        flex-direction: column;
        align-items: flex-start ;
        justify-content: center;
        gap: 2px;

    }

    .div-info-produto p:first-child{
        
        
        border-radius: 6px;
        font-size: 25px;
    }

    .div-info-produto p:last-child{
        margin-top: 12px;
    }

    .nome-produto{
        font-weight: bolder;
    }

    .qtd-nes-produto,.qtd-comprada-produto{
        color: rgba(0, 0, 0, 0.5);
    }

    .status-produto{
        background-color: rgba(255, 59, 59, 0.89);
        color: white;
        padding: 4px;
        border-radius: 6px;
    }

    .div-btn-produto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;

        gap: 20px;
        width: 80px !important;
        height: 120px !important;
    }

    .div-btn-produto button{
        width: 70px ;
        height: 40px ;
        border: 1px solid rgba(0, 0, 0, 0.185);
        border-radius: 6px;
        
    }

    .div-btn-produto button:first-child{
        background-color: var(--corBgPadrao) ;
        color: white;
        transition: 0.5s;
        border: none;
    }

    .div-btn-produto button:first-child:hover{
        box-shadow: inset 0px 0px 20px var(--corBgPadraoClaro);
        cursor: pointer;
    }

    .div-btn-produto button:last-child{
        transition: 0.5s;
        background-color: rgba(143, 18, 18, 0.89);
        color: white;
        border: none;
    }

    .div-btn-produto button:last-child:hover{
        box-shadow: inset 0px 0px 20px rgba(255, 247, 247, 0.89);
        background-color: rgb(255, 0, 0);
        cursor: pointer;
    }

    

}
