*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

body{
    background-color: rgb(228, 228, 228);
}


@media (max-width: 1024px) {
    main{
        margin:  0 auto;
        width: 82%;
        height: 100dvh;
        gap: 16px;
        display: flex;
        flex-direction: column;
    }
    #box-nav{
        display: flex;
        flex-direction: column;
        gap: 10px;
        min-width: 412px;
        max-width: 800px;
        height: 110px;

    }

    #titulo-lista{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
    }

    #div-button-nav{
        background-color: rgb(51, 51, 51);
        height: 70px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 6px;
        
    }

    #div-button-nav button{
        height: 70%;
        width: 31%;
        font-size: 18px;
        
        border-radius: 6px;
        
        border: none;
    }

    #div-button-nav button a:visited{
        
    }

    #btn-nav-cadastrar{
        background-color: rgb(40, 151, 255);
        color: white;
    }
    #btn-nav-cadastrar a:visited{
        color: white;
    }


    #formulario-produto{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 180px;
        width: 100%;
        background-color: rgb(248, 248, 248);
        border-radius: 10px;
        box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.445);
    }

    #div-titulo{
        width: 92%;
        height: 50px;
        display: flex;
        align-items: center;
        
    }

    #div-titulo h2{
        font-size: 20px;
    }

    #prod-cad{
        width: 92%;
        display: flex;
        justify-content: space-between;
    }

    .div-prod-cad{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 40%;
        max-width: 192px;
    }

    .div-prod-cad input{
        width: 100%;
        min-height: 40px;
        border-radius: 6px;
        border: 1px solid rgba(0, 0, 0, 0.096);
        background-color: rgb(228, 228, 228);
    }

    #div-btn-cad{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 60px;
        width: 95%;
    }

    #div-btn-cad button{
        width: 97%;
        height: 3rem;
        max-height: 60px;
        text-decoration: none;
        color: white;
        border: 2px solid rgba(0, 0, 0, 0.144);
        background-color: rgb(40, 151, 255);
        font-size: 16px;
        font-weight: bolder;
        border-radius: 6px;
    }

    #lista-de-produtos{
        min-height: 200px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
    }
    
    #lista-de-produtos div{
        height: 110px;
        
        
    }

    .main-info-produto{
        width: 82vw;
        display: flex;
        justify-content: center;
        background-color: rgb(248, 248, 248);
        box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.445);
        border-radius: 10px;
    }

    .container-produtos{
        width: 92% !important;
        display: flex;
        justify-content: space-between;
        align-items: center !important;
    }

    .div-info-produto{
        
        display: flex;
        
        flex-direction: column;
        align-items: flex-start ;
        justify-content: center;
        width: 50% !important;
        gap: 2px;
    }

    .nome-produto{
        font-weight: bolder;
    }

    .qtd-nes-produto,.qtd-comprada-produto{
        color: rgba(0, 0, 0, 0.5);
    }

    .status-produto{
        background-color: rgba(255, 59, 59, 0.89);
        color: white;
        padding: 4px;
        border-radius: 6px;
    }

    .div-btn-produto{
        display: flex;
        flex-direction: column;

        gap: 20px;
        width: 80px !important;
        height: 80px !important;
    }

    .div-btn-produto button{
        width: 60px ;
        height: 36px ;
        border: 1px solid rgba(0, 0, 0, 0.185);
        border-radius: 6px;
        
    }

    .div-btn-produto button:first-child{
        background-color: rgb(40, 151, 255);
        color: white;
    }

    .div-btn-produto button:last-child{
        background-color: rgba(255, 59, 59, 0.89);
        color: white;
    }

}
